@{
    ViewBag.Title = "Home Page";
}


<style>
    #datos {
        position: relative;
        font-weight: bold;
    }

    #bnl {
        position: relative;
        left: 5px;
    }

    #bnls {
        position: relative;
        left: 10px;
    }

    #foto {
        display: block;
        margin: auto;
        /* cambia estos dos valores para definir el tamaño de tu círculo */
        height: 400px;
        width: 350px;
        /* los siguientes valores son independientes del tamaño del círculo */
        background-repeat: no-repeat;
        background-position: 85%;
        border-radius: 85%;
        background-size: 100% auto;
    }
</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="text-align:center">
    <h4>Bienvenido a la pagina de secretos</h4>
    <img id="foto" src="https://pomaresabogados.com/wp-content/uploads/2017/11/secretos.jpg_1327452896-1-e1510856994357.jpg" asp-append-version="true" />
    <br />
    <h4>Redes Sociales</h4>
    <a href="https://web.facebook.com/profile.php?id=100009476931879" target="_blank"><img alt="Siguenos en Facebook" src="https://lh3.googleusercontent.com/-NSLbC_ztNls/T6VX0g6z8AI/AAAAAAAAA0A/_vyIBrmZbuY/s48/facebook48.png" width=48 height=48 /></a>
    <a href="https://twitter.com/Joelpin71105738" target="_blank"><img src="https://lh6.googleusercontent.com/-IvssUOIxeho/T6Px1qpUA0I/AAAAAAAAAww/IN5WdKCFWcQ/s48/twitter48.png" width=48 height=48 alt="Síguenos en Twitter" /></a>
    <a href="https://www.instagram.com/joelpineda815/" target="_blank"><img alt="Siguenos en Blogger" src="https://lh3.googleusercontent.com/-ZNdcR7k-G-Y/UIqEfiRWw5I/AAAAAAAABf0/Xntq3EpZRqY/s48/instagram48.png" width=48 height=48 /></a>
    <a href="https://www.youtube.com/channel/UC5MJ1tkPYu5owDlMHI6wzzA?view_as=subscriber" target="_blank"><img alt="Siguenos en YouTube" src="https://lh6.googleusercontent.com/-oXE9dKm36w0/T6VMYqB2pBI/AAAAAAAAAy0/ROjPLna4s_w/s48/youtube48.png" width=48 height=48 /></a>


</div>